{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h1>Edit Encyclopedia Entry:</h1>

    <form action="{% url 'editpage' title %}" method="post">
        {% csrf_token %}
        <input type="text" name="title" value="{{ title }}" autofocus required>
        <br><br>
        <textarea style="height: 400px;" name="entry" required>{{ entry }}</textarea>
        <br>
        <input type="submit" value="Save Entry">
    </form>

{% endblock %}