{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <div id="all-posts">
            <h4>{{ profile.username }}</h4>
            <div id="follow">
                <h6 id="follower-count">Followers: {{ profile.followers }}</h6>
                <h6 id="following-count">Following: {{ following_count }}</h6>
                {% if profile.username != request.user.username and not following %}
                <button id="follow-button" class="btn-primary">Follow</button>
                <button style="display: none;" id="unfollow-button" class="btn-primary">Unfollow</button>
                {% elif profile.username != request.user.username and following %}
                <button style="display: none;" id="follow-button" class="btn-primary">Follow</button>
                <button id="unfollow-button" class="btn-primary">Unfollow</button>
                {% endif %}
            </div>
            <div id="posts">
                <h4>Posts:</h4>
            </div>
            <ul class="pagination">
                <li id="page-back" class="page-item page-link">Previous</li>
                <li id="page-current" class="page-item page-link">Page 1 of {{ num_pages }}</li>
                <li id="page-forward" class="page-item page-link">Next</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <meta name="csrfmiddlewaretoken" content="{{ csrf_token }}">
    <script>
        var num_pages = {{ num_pages }};
        var profile = "{{ profile.username|escapejs }}";
        var viewer = "{{ request.user.username|escapejs }}";
    </script>
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}